<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service review page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function submitting() {
            $("#submit").css({"display": "table-row"});
        }
    </script>
</head>
<body>
<h1>Your services</h1>
<!--/*@thymesVar id="selectedService" type="org.mycode.dto.ServiceDto"*/-->
<!--/*@thymesVar id="services" type="java.util.List<java.lang.String>"*/-->
<form action="#" method='POST' th:action="@{/order/service/review}" th:object="${selectedService}">
    <table>
        <tr th:each="el : ${services}">
            <td>
                <input th:field="*{name}" th:id="${el}" th:onchange="submitting()" th:value="${el}" type="radio">
            </td>
            <td>
                <label th:for="${el}" th:utext="${el}"></label>
            </td>
        </tr>
        <tr id="submit" style="display:none;">
            <td colspan="2"><input name="submit" type="submit" value="Delete"/></td>
        </tr>
    </table>
</form>
</body>
</html>