<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Choose what you want</h1>
<form>
    <table>
        <tr>
            <td><a href="./menu/home"><input type="button" value="Home page"/></a></td>
        </tr>
        <tr>
            <td><a href="./documentation"><input type="button" value="Documentation"/></a></td>
        </tr>
        <tr>
            <td><a download="roomsReport.docx" href="./menu/rooms"><input type="button" value="Rooms report"/></a></td>
        </tr>
        <tr>
            <td><a download="customersReport.docx" href="./menu/customers"><input type="button"
                                                                                  value="Customers report"/></a></td>
        </tr>
        <tr>
            <td><a download="facilitiesReport.docx" href="./menu/facilities"><input type="button"
                                                                                    value="Facilities report"/></a></td>
        </tr>
    </table>
</form>
<form action="#" method='POST' name='f' th:action="@{/logout_proc}">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <input name="logout" type="submit" value="Logout"/>
</form>
</body>
</html>