<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Sign up</h1>
<form action="#" method='POST' name='f' th:action="@{/signup_proc}" th:object="${user}">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <table>
        <tr>
            <td>User:</td>
            <td><input name='username' th:field="*{username}" type='text' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name='password' th:field="*{password}" type='password'/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>